@using Microsoft.AspNetCore.Identity
@using LogisticCompany.Models.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model ApplicationUserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-md-12">
    <h6 style="padding-bottom: 30px">Welcome @Model.UserName</h6>
</div>

@if (Model.Role == "Employee")
{
    <div class="text-center col-md-12">
        <a asp-controller="Shipments" asp-action="Create">
            <button class="text-center btn btn-primary">Create shipment</button>
        </a>
    </div>
}
else if (Model.Role == "Client")
{
    <div class="text-center col-md-12">
        <h7 style="">Your Shipments:</h7>
    </div>
}

@if (Model.Role == "Admin")
{

}

