
<h3>Type in client username</h3>

<div class="">
    <input id="userInput" class="form-control" />
</div>

<a>
    <button id="searchButton" class="text-center btn btn-sm btn-warning">Search</button>
</a>

<div style="margin-top:50px"> <div id="partialPlaceHolder"></div></div>
<script>
    $("#searchButton").on("click", function(){

                var url = '@Url.Action("ShipmentsSentBy", "Reports")' + "?userName="  + $("#userInput").val();

                $("#partialPlaceHolder").load(url, function () {
                    $("#userInput").val("");
			    })
			})
</script>